.App {
  text-align: center;
  height: 100vh;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  height: 100%;
  padding: 10px;
  max-width: 200px;
  background-color: rgb(199, 216, 255);
}
header {
  display: flex;
  justify-content: space-between;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(108, 152, 255) 100%);
  text-align: center;
  margin: 0;
  transition: opacity 5s;
  font-family: "Oswald", sans-serif;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#newPostButton,
#signOutButton {
  cursor: pointer;
  color: #0076a5;
  padding: 12px 26px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #0076a5;
}

#newPostForm,
#signlePost {
  margin-top: -50%;
}

/* #homeViewContainer {
  height: 100%;
  max-width: 80%;
  margin-left: 18%;
  margin-top: -48%;
  cursor: pointer;
  color: #0076a5;
  padding: 14px 28px;
  background-color: white;
} */
