#homeViewContainer {
  height: 100%;
  max-width: 100%;
  margin-left: 15%;
  margin-top: -50%;
  cursor: pointer;
  color: #0076a5;
  padding: 10px 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 50%; */
  grid-auto-rows: 45%;
  grid-gap: 40px;
  overflow: scroll;
  
  
}
