#homeViewContainer {
  height: 90%;
  max-width: 100%;
  cursor: pointer;
  color: #0076a5;
  padding: 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-evenly;
}
#SinglePostView{
  height: 400px;
}