#newPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
}

#newPostForm input {
  border-radius: 10px;
  padding: 5px;
}

#description {
  width: 450px;
  height: 300px;
  padding-top: 0;
}

#itemName,
#price,
#pictureInput,
#pickupAddress {
  margin: 20px;
}
#itemName,
#price {
  width: 200px;
  height: 30px;
}

#postButton,
#cancelButton {
  cursor: pointer;
  color: #0076a5;
  padding: 14px 28px;
  border-radius: 20px;
  margin-top: 5%;
  margin:10px;
  border: 1px solid #0076a5;
  background-color: white;
}
#postButton{
  align-self: flex-start;
}
#cancelButton{
  align-self: flex-end;
}
#buttons{
  max-width: 700px;
  padding:10px;
}

#pickupAddress {
  width: 300px;
  height: 100px;
}
