
#searchBar {
    width: 200px;
    height: 10px;
    color: #0076a5;
    padding: 14px 28px;
    border-radius: 20px;
    border: 1px solid #0076a5;
    background-color: white;
    
}

#searchIcon {
    cursor: pointer;
    color: #0076a5;
    margin-left: -12%;
}