

#signInButton {
    cursor: pointer;
    color: #0076a5;
    padding: 14px 28px;
    border-radius: 20px;
    margin-top: 5%;
    border: 1px solid #0076a5;
    background-color: white;
}


#eeboText {
    padding-top: 20%;
}

#signInContainer {
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgb(108, 152, 255) 100%
      ); 
}

.signInText {
    color: white;
}

#subHeadline {
    font-family: cursive;
}
